<!DOCYTE html>
<html class="no-js" lang="ja">
<head>
<meta charset="utf-8">
<title>{{options.title}}</title>

<meta name="description" content="">
<meta name="generator" content="kss-node">
<meta name="viewport" content="width=devise-width">

<link rel="stylesheet" href="kss-assets/kss.css">
{{{style}}}
</head>
<body id="kss-node">
<header class="st-header" role="banner">

 	  		
<footer class="kss-github">
<a href="https://github.com/kss-node/kss-node"><img src="kss-assets/github-fork--black.png" alt="Fork me on Github"></a>
</footer>
{{if}}

</body>
</html>

