$kss-colors-background : #fff;

$kss-colors-foreground : #444;
$kss-colors-heading    : #111;
$kss-colors-quotes     : #666;

$kss-colors-link       : #06445ad;
$
$
$

$
$

$
$



.kss-sytle{

	a{
	
	}

	p{
	
	}

	h1, h2, h3, h4, h5, h6 {
	
	}

	h4, h5, h6{
	
	}
}



